<div class="message-box">
  <div class="messages-box" #messageContainer>
    <div
      *ngFor="let message of messages$ | async"
      class="message-wrapper"
      [ngClass]="checkIfMessageIsFromUser(message) ? 'message-align-me' : 'message-align-other'">
      <div
        class="message"
        [ngStyle]="checkIfMessageIsFromUser(message) ? { 'align-item': 'start' } : { 'align-item': 'end' }">
        <span class="sender">{{ message.sender }}</span>
        <span class="content" [ngStyle]="setMessageColor(message)">{{ message.content }}</span>
      </div>
    </div>
  </div>
  <div class="input-box">
    <input class="input" [formControl]="messageFC" placeholder="Write a message..." (keydown.enter)="sendMessage()" />
    <button class="btn" (click)="sendMessage()">Send</button>
  </div>
</div>
