.chat-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.rooms {
  flex: 1;
  height: 100%;
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  position: relative;
}

.message-box {
  flex: 5;
  height: 100%;
  position: relative;
}
